<div class="col-xs-12 cmt-item">
  <div class="row">
    <div class="cmt-img-box">
      <img src="{user_img}" class="cmt-user-img">
    </div>
    <div class="cmt-content-box">
      <p class="cmt-content">
        <strong><a href="{user_profile}" class="author-link">{username}</a></strong>
        <span class="created-time smaller-font"> &middot; {created} &middot; </span>
        <a class="cmt-delete-link">delete</a><span class="cmt-id">{cmt_id}</span>
      </p>
      <p class="cmt-content">{content}</p>
    </div>
  </div>
</div>