<div class="row project-item">
  <a href="{item_url}" class="col-xs-12 col-sm-4 project-img-box">
    <img src="{thumbnail}" class="img-responsive project-img">
  </a>
  <div class="col-xs-12 col-sm-8 project-info">
    <h2 class="project-title">
      <a href="{item_url}">
        {name}
      </a>
    </h2>
    <h4>{nd_category} / {p_category}</h4>
    <h4>by <a href="{user_url}" class="author-link">{author}</a></h4>
    <h5 class="created-time">{created}</h5>
    <h5><a href="{item_url}" class="author-link">{no_of_comments}</a></h5>
  </div>
</div>
